.login{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f3f5;
    width: 100%;
    height: 100vh;
}
.loginWrapper{
    width: 70%;
    height: 70%;
    display: flex;
}