/* Topbar styles */
.topbarContainer{
    height: 50px;
    width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 2;
  }
  
  .topbarLeft{
    flex: 2.5;
  }
  .logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-style: oblique;
  }
  
  .topbarCenter{
    flex: 5;
  }
  .searchBar{
    width: 100%;
    height: 32px;
    background: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
  }
  
  .searchIcon{
    font-size: 20px;
    margin-left: 10px;
  }
  .searchInput{
    width: 70%;
    border: none;
    font-weight: 300;
  }
  .searchInput:focus{
    outline: none;
    font-weight: 500
  }
  
  .topbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
  }
  
  .topbarLink{
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    color: #fff;
  }
  .topbarLinks a{
    text-decoration: none;
  }
  .topbarIcons{
    display: flex;
  }
  .topbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
  }
  
  .topbarIconBadge{
    position: absolute;
    top: -5px;
    right: -8px;
    background: red;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
  }
  
  .topbarImg{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  
  /* Homepage */
  .homeContainer{
    display: flex;
  }
  
  /* sidebar */
  .sidebar{
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
  }
  ::-webkit-scrollbar{
    width: 10px;
  }
  ::-webkit-scrollbar-track{
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb{
   background: rgb(159, 157, 157);
  }
  .sidebarWrapper{
    padding: 20px;
  }
  .sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .sidebarListitem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .listIcon{
    margin-right: 10px;
  }
  .sidebarButton{
    width: 150px;
    border: none;
    font-weight: bolder;
    padding: 10px;
    border-radius: 5px;
  }
  .sidebareHr{
    margin: 20px 0;
  }
  .sidebarFriendsList{
    margin: 0%;
    padding: 0%;
    list-style: none;
    cursor: pointer;
  }
  .sidebarFriends{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .sidebarFriendsImg{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 10px;
  }
  
  
  /* feed */
  .feed{
    flex: 5.5;
  }
  .feedWrapper{
    padding: 20px;
  }/* share */
  .share{
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    border-radius: 10px;
    -webkit-box-shadow:0px 0px 16px -8px rgba(0,0,0,0.68);
    box-shadow:0px 0px 16px -8px rgba(0,0,0,0.68) ;
  }
  .shareWrapper{
    padding: 10px;
  }
  .shareTop{
    display: flex;
    align-items: center;
  }
  .shareProfileImg{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
  }
  .shareInput{
    width: 80%;
    border: none;
    padding: 5px;
    font-size: 15px;
    display: block;
  }
  .shareInput:focus{
    outline: none;
  }
  .shareHr{
    margin: 17px;
  }
  .shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .shareOptions{
    display: flex;
    margin-left: 17px;
  }
  .shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
  }
  .shareOptionIcon{
    margin-right: 5px;
    font-size: 18px;
  }
  .shareOptionText{
    font-size: 14px;
    font-weight: 500;
  }
  .shareButton{
    margin-right: 17px;
    border: none;
    padding: 7px 10px;
    border-radius: 5px;
    font-weight: 800;
    background: green;
    color: white;
    cursor: pointer;
  }/* Post */
  .post{
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow:0px 0px 16px -8px rgba(0,0,0,0.68);
    box-shadow:0px 0px 16px -8px rgba(0,0,0,0.68) ;
    margin: 30px 0;
  }
  .postWrapper{
    padding: 10px;
  }
  .postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .postTopLeft{
    display: flex;
    align-items: center;
  }
  .postProfileImg{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    object-fit: cover;
  }
  .postUsername{
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
  }
  .postDate{
    font-size: 13px;
  }
  .postMiddle{
    margin: 20px 0;
  }
  .postMainImg{
    width: 100%;
    max-height: 500px;
    margin: 20px 0;
    object-fit: contain;
  }
  .postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .postBottomLeft{
    display: flex;
    align-items: center
  }
  .postLikeIcon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
  }
  .postLikeCounter{
    font-size: 15px;
  }
  .postCommentCounter{
    font-size: 15px;
    border-bottom: 1px dashed gray;
    cursor: pointer;
  }
  
  /* rightbar */
  .rightbar{
    flex: 3.5;
  }
  .rightbarWrapper{
    padding: 20px 20px 0 0 ;
  }/* Birthdays */
  .birthdayContainer{
    display: flex;
    align-items: center;
  }
  .birthdayImg{
    height: 40px;
    width: 40px;
    margin-right: 10px;
  }
  .birthdayText{
    font-weight: 300;
    font-size: 15px;
  }
  .rightbarAds{
    width: 100%;
    margin: 30px 0;
    border-radius: 10px;
    cursor: pointer;
  }
  .rightbarTitle{
    margin-bottom: 20px;
  }
  .onlineFriendsList{
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .onlineFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .profileImgContainer{
    position: relative;
    margin-right: 10px ;
  }
  .profileImg{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
  .profileOnlineIcon{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: limegreen;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;
  }
  .profileUsername{
    font-weight: 500;
  }