*{
  margin: 0%;
  padding: 0%;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.profileRightbarTitle{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.profileRightbarInfo{
  margin-bottom: 30px;
}
.profileRightbarInfoItem{
  margin-bottom: 10px;
}
.profileRightbarInfoKey{
  margin-right: 10px;
  font-weight: 500;
  color: #555;
}
.profileRightbarInfoValue{
  font-weight: 300;
}
.profileFollowings{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.profileFollower{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}
.followerImg{
  margin-bottom: 5px;
}
.followerImg{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}